.todo-form {
    display: flex;
    justify-content: center;
}
.todo-input {
    margin: 1em;
    height: 3em;
    border-radius: 1em;
    width: 30%;
}
.todo-button {
    border-radius: 1em;
    margin: 1em;
}
.todo-row {
    display: flex;
    flex-direction: column;
    justify-content: start;
}